@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url('IMAGES/sign2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: screen;
    color: black;
    position: relative;
}

.header {
    text-align: center;
    padding: 50px 0;
}

.header .container {
    max-width: 600px;
    margin: 0 auto;
}

.heading {
    padding: 10px;
    font-size: 36px;
    color: #ff6347;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.sub-heading {
    font-size: 24px;
    color: #333;
}

.main-content {
    padding: 20px 0;
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: -50px;
}
.form-container:hover
{
    box-shadow: 0px 0px 10px rgba(180, 13, 13, 0.1);
}
.form-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"],
.form-group input[type="tel"] {
    width: calc(100% - 40px); /* Adjusted width to accommodate icons */
    padding: 8px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
    display: inline-block;
    vertical-align: middle;
}

.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="text"]:focus,
.form-group input[type="tel"]:focus,.form-group input[type="radio"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.input-with-icon {
    position: relative;
}

.input-with-icon .valid-icon,
.input-with-icon .invalid-icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

input[type="email"]:valid ~ .valid-icon {
    display: inline-block;
    background: url('right.jpg') no-repeat center center;
    background-size: contain;
}

input[type="email"]:invalid:focus ~ .invalid-icon {
    display: inline-block;
    background: url('warning.jpg') no-repeat center center;
    background-size: contain;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #f97962;
}

.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    text-align: center;
}